<a href="https://colab.research.google.com/github/z-arifin/z-arifin/blob/main/Exercise_2_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Exercise 2 Python**

Python Course - Sekolah Data - Pacmann Academy

Materi yang diujikan pada exercise ini adalah
1. Composite Data Structure
2. Looping
3. Function I
4. Function II

# **Composite Data Structure**

###1

Daftar nilai ujian sebuah kelas adalah sebagai berikut

`nilai = 80, 65, 70, 90, 60, 90, 90, 85, 80, 70, 75, 65, 80, 90, 65, 90`

##### **1A**

Buatlah sebuah list untuk menampung nilai ujian tersebut. Kemudian hitunglah jumlah murid dan carilah nilai tertinggi dan terendah

In [ ]:
# buat list yang menampung nilai ujian
...

# Hitung jumlah murid di kelas tersebut
...

# print jumlah siswa di dalam kelas
...

# buat variabel dan print nilai tertinggi
...

# buat variabel dan print nilai terendah
...

Jumlah siswa di dalam kelas : 18 siswa
Nilai tertinggi : 95
Nilai terendah : 65

##### **1B**

Jika siswa memiliki nilai yang kurang dari rata-rata maka siswa harus ujian ulang. Berapakah jumlah siswa yang memiliki nilai dibawah rata-rata


```
Keterangan:
- Bulatkan nilai rata-rata dua nilai dibelakang koma
- gunakan list comprehension untuk nilai yang kurang dari rata-rata
```

In [ ]:
# hitunglah dan print nilai rata-rata ujian
...

# cari dan print nilai siswa yang kurang dari rata-rata dengan list comprehension
...

# hitung dan print jumlah nilai yang kurang dari rata-rata
...

Rata-rata Nilai Ujian adalah : 78.06
Nilai kurang dari rata-rata : [65, 70, 70, 70, 75, 65, 65, 65]
Banyak siswa yang nialainya kurang dari rata-rata adalah : 8

#### **1C**

Hitunglah prosentase siswa yang lulus dan siswa yang tidak lulus ujian.

In [ ]:
# buat variabel dahulu untuk menampung jumlah siswa yang lulus
...

# hitung prosentase siswa yang lulus
...

# print prosentase siswa lulus ujian, bulatkan dua angka dibelakang koma
...

# hitung prosentase siswa yang tidak lulus
...

# print prosentase siswa yang tidak lulus
...

Prosentase Siswa lulus ujian = 55.56%
Prosentase Siswa tidak lulus ujian = 44.44%

---

### **2**

Penjualan suatu produk pestisida selama tiga bulan dari tiga jenis produk disimpan di dalam data berikut.

|Bulan|Produk 1|Produk 2|Produk 3|
|-|-|-|-|
|Bulan 1|40|45|39|
|Bulan 2|48|50|43|
|Bulan 3|45|48|45|

Angka pada data di atas menunjukkan jumlah produk yang terjual

#### **2A**

Buatlah sebuah tuple of tuple yang menyimpan seluruh data penjualan produk tersebut per bulan. Simpan hanya angkanya saja.


```
Keterangan:
- Struktur tuple
  - my_tuple = ((jumlah_produk_bulan_1, jumlah_produk_bulan_2, jumlah_produk_bulan_3), ...)
```

In [ ]:
# definisikan sebuah tuple
...

# tampilkan tuple tersebut
...

((40, 45, 39), (48, 50, 43), (45, 48, 45))

#### **2B**

Carilah rata-rata penjualan setiap bulan dari ketiga produk tersebut.



```
Keterangan:
- bulatkan hasil penjualan menjadi bilangan bulat
```

In [ ]:
# gunakan variabel dari soal 2A

# hitung dan tampilkan rata-rata penjualan bulan 1
...

# hitung dan tampilkan rata-rata penjualan bulan 2
...

# hitung dan tampilkan rata-rata penjualan bulan 3
...

Rata-rata penjualan bulan 1 adalah 41 produk
Rata-rata penjualan bulan 2 adalah 47 produk
Rata-rata penjualan bulan 3 adalah 46 produk

#### **2C**

Cari rata-rata penjualan setiap produk selama tiga bulan. Gunakan variabel tuple dari soal 2A.



```
Keterangan:
 - untuk akses tuple of tuple gunakan indeks ganda
 - misalkan ada tuple my_tupe = ((1, 2, 3), (4, 5, 6))
 - misalkan ambil angka 2
    - my_tuple[0][1]
 - indexing pertama untuk mengambil index tuple terluar
 - indexing kedua untuk mengambil nilai yang ada di dalam

```

In [ ]:
# Gunakan variabel yang sudah didefinisikan pada soal 2A

# hitung dan print rata-rata penjualan produk 1 selama tiga bulan
...

# hitung dan print rata-rata penjualan produk 2 selama tiga bulan
...

# hitung dan print rata-rata penjualan produk 3 selama tiga bulan
...

Rata-rata penjualan produk 1 selama tiga bulan = 44 produk
Rata-rata penjualan produk 2 selama tiga bulan = 48 produk
Rata-rata penjualan produk 3 selama tiga bulan = 42 produk

### **3**

Lembaga scouting dari sebuah club sepak bola sedang mencari talent muda untuk club mereka. Ada 5 pemain yang masuk incaran, data pemain tersebut sebagai berikut.

|Nama Pemain|Fisik|Mental|Teknik|Menyerang|Bertahan|Posisi|
|-|-|-|-|-|-|-|
|Erling Haaland|89|90|75|95|60|Striker
|Christopher Nkunku|76|78|80|82|65|Sayap Kiri
|Rafael Leao|86|83|85|90|55|Sayap Kiri
|Kevin De Bruyne|82|80|89|88|68|Gelandang Serang
|Vinicius Junior|85|80|85|90|55|Sayap Kiri

#### **3A**

Buatlah sebuah dictionary untuk menyimpan data pemain berikut

In [ ]:
# definisikan sebuah dictionary
...
# print dictionary tersebut
...

{'Erling Haaland': {'Fisik': 89, 'Mental': 90, 'Teknik': 75, 'Menyerang': 95, 'Bertahan': 60, 'Posisi': 'Striker'}, 'Christopher Nkunku': {'Fisik': 76, 'Mental': 78, 'Teknik': 80, 'Menyerang': 82, 'Bertahan': 65, 'Posisi': 'Sayap Kiri'}, 'Rafael Leao': {'Fisik': 86, 'Mental': 83, 'Teknik': 85, 'Menyerang': 90, 'Bertahan': 55, 'Posisi': 'Sayap Kiri'}, 'Kevin De Bruyne': {'Fisik': 82, 'Mental': 80, 'Teknik': 89, 'Menyerang': 88, 'Bertahan': 68, 'Posisi': 'Gelandang Serang'}, 'Vinicius Junior': {'Fisik': 85, 'Mental': 80, 'Teknik': 85, 'Menyerang': 90, 'Bertahan': 55, 'Posisi': 'Gelandang Serang'}}

#### **3B**

Hitunglah rata-rata kemampuan masing-masing pemain.


```
Keterangan
 - Untuk akses kemampuan pemain gunakan nama_dict[Nama_pemain][kemampuan]
```

In [ ]:
# hitung dan print rata-rata kemampuan Erling Haaland
...

# hitung dan print rata-rata kemampuan Christopher Nkunku
...

# hitung dan print rata-rata kemampuan Rafael Leao
...

# hitung dan print rata-rata kemampuan Kevin De Bruyne
...

# hitung dan print rata-rata kemampuan Vinicius Junior
...

Rata-rata Erling Haaland = 81.8
Rata-rata Christopher Nkunku = 76.2
Rata-rata Rafael Leao = 79.8
Rata-rata Kevin De Bruyne = 81.4
Rata-rata Vinicius Junior = 79.0

#### **3C**

Jika dilihat dari rata-rata kemampuan pemain, Christopher Nkunku dan Vinicius Junior merupakan dua yang terendah. Hapus Nkunku dan Vinicius dari dictionary pemain.


```
Keterangan:
 - gunakan method pop()
```

In [ ]:
# hapus nkunku dari dictionary pemain
...

# hapus vinicius dari distionary pemain
...

#  tampilkan dictionary pemain yang baru
...

{'Erling Haaland': {'Fisik': 89, 'Mental': 90, 'Teknik': 75, 'Menyerang': 95, 'Bertahan': 60, 'Posisi': 'Striker'}, 'Rafael Leao': {'Fisik': 86, 'Mental': 83, 'Teknik': 85, 'Menyerang': 90, 'Bertahan': 55, 'Posisi': 'Sayap Kiri'}, 'Kevin De Bruyne': {'Fisik': 82, 'Mental': 80, 'Teknik': 89, 'Menyerang': 88, 'Bertahan': 68, 'Posisi': 'Gelandang Serang'}}

#### **3D**

Tersisa tiga pemain yaitu, Erling Haaland, Rafael Leao dan Kevin De Bruyne.
Jika tim scouting sepak bola tersebut sedang mencari penyerang dengan kemampuan **menyerang** terbaik maka siapakah yang akan di ambil ?


```
Keterangan: 
- struktur list
  - [[kemampuan_menyerang, nama_pemain], ...]
- gunakan method max()
```

In [ ]:
# buatlah sebuah list dahulu yang menampung kemampuan menyerang tiap pemain
# gunakan variabel dari 3A
...

# kemudian cari dan print pemain dengan kemampuan menyerang terbaik
...

Pemain dengan kemampuan menyerang terbaik = [95, 'Erling Haaland']

###**4**

Pak Banu dan Pak Rozi akan bekerja sama dalam berjualan toko buah. Sebelumnya mereka juga sudah mempunyai toko buah, namun karena alasan tertentu mereka memutuskan untuk bekerja sama. Data buah yag di jual Pak Banu dan Pak Rozi adalah sebagai berikut

```
Pak Banu = Jeruk, Apel, Semangka, Rambutan, Pepaya, Kelengkeng, Alpukat, Sirsat
Pak Rozi = Pisang, Melon, Salak, Mangga, Jeruk, Pepaya, Kelengkeng, Srikaya
```

#### **4A**

Buatlah sebuah set untuk menampung buah yang di jual oleh masing-masing penjual

In [ ]:
# definisikan sebuah set untuk pak banu
...

# definisikan sebuah set untuk pak rozi
...

# print masing-masing set tersebut
...

{'Rambutan', 'Alpukat', 'Jeruk', 'Kelengkeng', 'Sirsat', 'Apel', 'Pepaya', 'Semangka'}
{'Salak', 'Melon', 'Jeruk', 'Kelengkeng', 'Srikaya', 'Pisang', 'Pepaya', 'Mangga'}

#### **4B**

Gabungkan buah yang dijual Pak Banu dan Pak Rozi


```
Keterangan:
- gunakan method union()
```

In [ ]:
# definisikan variabel dan gabungkan buah yang dijual
...

# tampilkan gabungan buah yang dijual
...

Gabungan buah yang dijual Pak Banu dan Pak Rozi : {'Salak', 'Rambutan', 'Melon', 'Alpukat', 'Jeruk', 'Kelengkeng', 'Sirsat', 'Srikaya', 'Apel', 'Pisang', 'Pepaya', 'Semangka', 'Mangga'}

#### **4C**

Untuk mempermudah stok ulang buah carilah buah yang sebelumnya sama-sama dijual oleh Pak Banu dan Pak Rozi

```
Keterangan:
- gunakan method intersection()
```

In [ ]:
# defisinikan variabel dan cari persamaan buah yang dijual
...

# tampilkan buah yang sama antara Pak Banu dan Pak Rozi
...

Persamaan buah yang di jual Pak Banu dan Pak Rozi adalah : {'Jeruk', 'Pepaya', 'Kelengkeng'}

# **Looping**

### **1**

Pada sebuah puskesmas sedang mengadakan vaksinasi dan memberikan nomor antrian sepanjang 200 orang kepada masyarakat yang ingin vaksin. Untuk **mempercepat** proses vaksinasi puskesmas tersebut **membagi** menjadi empat antrian.

#### **1A**

Untuk nomor antrian kurang dari 100 dibagi berdasarkan bilangan genap dan ganjil. Buatlah urutan bilangan genap dan ganjil menggunakan for loop.

In [ ]:
# buat dua empty list untuk menampung deret ganjil dan genap
...

# cari bilangan ganjil dan genap dengan for loop dan if else
# gunakan append untuk menambahkan bilangan ke list
...

# print kedua deret tersebut
...

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

#### **1B**

Untuk nomor urut 101 sampai 200 dibagi berdasarkan nomor urut
 
 - `Nomor 101 - 125 dan 151 - 175`
 - `Nomor 126 - 150 dan 175 - 200`

Buatlah deret yang menampung dua kondisi tersebut

In [ ]:
# definisikan dua list untuk menampung dua kondisi pada soal
...

# cari deret bilangan dengan for loop dan if else
# gunakan append untuk menambahkan bilangan ke list
...
  
# print kedua deret tersebut
...

[101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175]
[126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200]

### **2**

Armada Angkutan Bus Setya Jaya mengeluh karena ada kenaikan harga BBM. Tarif angkutan sebelum kenaikan BBM bisa dilihat pada tabel biaya perjalanan dibawah

|Jurusan | Biaya per Orang | Biaya Pelajar|
|-|-|-|
|Terminal A ke Terminal B | 5.000| 2.500|
|Terminal A ke Terminal C | 10.000 | 4.000|
|Terminal A ke Terminal D | 15.000 | 7.000|


Untuk mengimbangi pengeluaran dan pendapatan para pengusaha angkutan sepakat untuk menaikkan harga.

#### **2A**

Buatlah list yang menampung biaya per orang dan biaya pelajar

In [ ]:
# definisikan dua list yang menampung biaya per orang dan biaya pelajar
...

# print kedua list tersebut
...

[5000, 10000, 15000]
[2500, 4000, 7000]

#### **2B**

Jika **biaya per orang** naik 5.000 rupiah pada semua jurusan terminal, berapa tarif per orang sekarang. Hitung dengan menggunakan **while loop**

In [ ]:
# gunakan list yang sudah didefinisikan dari soal 2A

# buat variabel untuk menghentikan while
...

# hitung tarif baru dengan while
...

# tampilkan list tarif penumpang yang baru
...

tarif penumpang yang baru = [10000, 15000, 20000]

#### **2C**

Jika tarif penumpang **Pelajar** naik 2.000 rupiah pada semua jurusan terminal, berapa tarif pelajar sekarang ? Hitung menggunakan while loop

In [ ]:
# gunakan list yang sudah didefinisikan dari soal 2A

# buat variabel untuk menghentikan while
...

# hitung tarif baru dengan while
...

# tampilkan list tarif penumpang pelajar yang baru
...

tarif penumpang pelajar yang baru = [4500, 6000, 9000]

### **3**

Lembaga scouting dari sebuah club sepak bola sedang mencari talent muda berbakat untuk club mereka. Ada 5 pemain yang masuk incaran, data pemain tersebut sebagai berikut.

|Nama Pemain|Fisik|Mental|Teknik|Menyerang|Bertahan|
|-|-|-|-|-|-|
|Erling Haaland|89|90|75|95|60|
|Christopher Nkunku|76|78|80|82|65|
|Rafael Leao|86|83|85|90|55|
|Kevin De Bruyne|82|80|89|88|68|
|Vinicius Junior|85|80|85|90|55|

#### **3A**

Buatlah dictionary untuk menyimpan data pemain berikut


```
Keterangan:
- Struktur dictionary
  - dict = {nama_pemain:{kemampuan_1:nilai, kemampuan_2:nilai, ...}, ...}
```

In [ ]:
# definisikan sebuah dictionary
...
# print dictionary tersebut
...

{'Erling Haaland': {'Fisik': 89, 'Mental': 90, 'Teknik': 75, 'Menyerang': 95, 'Bertahan': 60}, 'Christopher Nkunku': {'Fisik': 76, 'Mental': 78, 'Teknik': 80, 'Menyerang': 82, 'Bertahan': 65}, 'Rafael Leao': {'Fisik': 86, 'Mental': 83, 'Teknik': 85, 'Menyerang': 90, 'Bertahan': 55}, 'Kevin De Bruyne': {'Fisik': 82, 'Mental': 80, 'Teknik': 89, 'Menyerang': 88, 'Bertahan': 68}, 'Vinicius Junior': {'Fisik': 85, 'Mental': 80, 'Teknik': 85, 'Menyerang': 90, 'Bertahan': 55}}

#### **3B**

Club membutuhkan pemain bola dengan mental yang bagus. Jika ada pemain dengan **mental** lebih kecil dari **80** keluarkan dari data scouting.

In [ ]:
# untuk menghindari eror pada saat loop, gunakan method copy untuk menyalin dictionary pada variabel yang baru
# buat nama variabel dahulu kemudian copy dictionary yang sudah dibuat sebelumnya
...

# gunakan for dan if else untuk menyeleksi pemain
# jika pemain masuk memenuhi syarat pakai "continue"
# jika tidak memenuhi syarat, langsung keluarkan dari dict, pakai method pop()
...

# gunakan list comprehension untuk menampilkan pemain yang tersisa
# buat variabel baru dahulu untuk menyimpan hasil list comprehension
...

Christopher Nkunku dikeluarkan dari data scouting karena tidak memenuhi syarat
Pemain yang tersisa ['Erling Haaland', 'Rafael Leao', 'Kevin De Bruyne', 'Vinicius Junior']

#### **3C**

Pengamat Sepak Bola menyarankan untuk langsung mengambil pemain dengan kemampuan **menyerang** lebih dari **92**. Namun pihak scouting masih mempertimbangkan hal lain. Untuk itu pihak scouting hanya akan melihat adakah pemain dengan kemampuan lebih dari **92**.

In [ ]:
# gunakan cara yang sama agar saat loop dictionary tidak eror yaitu menyalin dictionary ke variabel baru
# bedakan nama variabel copy dengan yang sebelumnya
...

# pakai for loop dan if else untuk mencari pemain dengan kemampuan menyerang lebih dari 92
# pakai pass jika menemukan pemain dengan kondisi tersebut
...

Pemain dengan kemampuan menyerang lebih dari sama dengan 92 : Erling Haaland

#### **3D**

Pelatih membutuhkan pemain dengan **teknik** lebih dari **85** dan **fisik** lebih dari sama dengan **84**.
Jika ada pemain yang tidak memenuhi syarat tersebut langsung keluarkan dari data scouting.

In [ ]:
# gunakan cara yang sama agar saat loop dictionary tidak eror yaitu menyalin dictionary ke variabel baru
# bedakan nama variabel copy dengan yang lain
...

# gunakan for dan if else untuk menyeleksi pemain
# jika pemain masuk memenuhi syarat pakai "continue"
# jika tidak memenuhi syarat, langsung keluarkan dari dict, pakai method pop()
...

Erling Haaland dikeluarkan dari data scouting karena tidak memenuhi syarat
Kevin De Bruyne dikeluarkan dari data scouting karena tidak memenuhi syarat

**4E**

Masih tersisa dua pemain yaitu Rafael Leao dan Vinicius Junior. Uang kas klub hanya bisa digunakan untuk membeli satu pemain saja, untuk itu cari pemain dengan rata-rata kemampuan paling tinggi dari kedua pemain tersebut

In [ ]:
# gunakan cara yang sama agar saat loop dictionary tidak eror yaitu menyalin dictionary ke variabel baru
# bedakan nama variabel copy dengan yang lain
...

# definisikan variabel untuk menampung rata-rata
...

# gunakan for untuk menyeleksi pemain
# didalam for yang pertama, definisikan variabel jumlah untuk menampung jumlah total kemampuan pemain
# anda bisa memakai method keys atau cara lain pada for yang kedua jika anda pakai nested-for
...

Kemampuan Rata-rata Rafael Leao adalah 79.8
Kemampuan Rata-rata Vinicius Junior adalah 79.0

### **4**

Bu Surti akan berbelanja di swalayan dengan Bu Mima dan Bu Rani


```
belanjaan ibu surti = 20.000, 80.000, 40.000, 150.500
belanjaan ibu mima = 31.000, 43.000, 65.000, 105.000
belanjaan ibu rani = 12.000, 200.000, 61.000, 10.000
```

#### **4A**

Buatlah list untuk menampung harga belanja masing-masing ibu tersebut

In [ ]:
# buat tiga list untuk menampung list harga belanjaan
...

#### **4B**

Cari total dari belanjaan masing-masing ibu dengan list comprehension, jika ada harga yang lebih dari 50.000 diskon 5%

In [ ]:
# Cari total belanja dengan list comprehension
# HINT, Gunakan method sum()
...

# tampilkan masing-masing total belanjaan
...

Total belanja Bu Surti = Rp 278975.0
Total belanja Bu Mima = Rp 235500.0
Total belanja Bu Rani = Rp 269950.0

# **Function I**

---
## Case 1 : Waktu Mencuci Tangan
Dianjurkan bagi seseorang untuk mencuci tangan sampai 21 detik secara menyeluruh agar tangan dapat dikatakan bersih dari kuman dan kotoran. 

Buatlah fungsi yang menerima input jumlah seseorang mencuci tangan dalam satu hari dan lama waktu orang tersebut mengikuti anjuran cuci tangan (dalam bulan). 

Hitung banyaknya waktu (dalam menit dan detik) yang dihabiskan orang tersebut untuk mencuci tangan.   

- anggap 1 bulan == 30 hari

```
Contoh:
Setelah mengetahui anjuran tersebut, selama 2 bulan terakhir Athaya mencuci tangan sesuai dengan anjuran sebanyak 6 kali dalam sehari

input  
6 kali dan 2 bulan

ouput :
Waktu total mencuci tangan adalah 126 menit dan 0 detik

```

### 1A.
Buatlah fungsi tersebut!
```
Catatan tambahan:
  - Gunakan paramater yang dapat menerima input jumlah cuci tangan dan jumlah bulan
  - Gunakan return pada fungsi untuk mengembalikan output yang didapat
```

In [ ]:
#membuat fungsi
...

###1B.
Panggil fungsi tersebut! Apabila,

a. ) Selama 1 tahun 1 bulan terakhir Richard mencuci tangan sesuai dengan anjuran sebanyak 3 kali dalam sehari

In [ ]:
#memanggil fungsi 
...

'Waktu total mencuci tangan adalah : 409 menit dan 30 detik'

b. ) Selama 3 bulan terakhir, Nabila mencuci tangan sesuai anjaran sebanyak 5 kali dalam sehari

In [ ]:
#memanggil fungsi 
...

'Waktu total mencuci tangan adalah : 157 menit dan 30 detik'

---
##Case 2 : Perkalian
Buatlah fungsi yang menghasilkan list hasil perkalian! 

Sebagai contoh jika user meng-inputkan angka 7. Berarti fungsi akan menampilkan perkalian 7 x 1 sampai 7 x 10.

```
Contoh:
input  
7

ouput :
[7, 14, 21, 28, 35, 42, 49, 56, 63, 70]
```

###2A.
Membuat fungsi **tabel perkalian**.
```
Catatan:
 - Parameter yang digunakan adalah angka dan panjang tabel perkalian
 - Karena panjang tabel perkalian hingga 10. Maka buatlah default value = 10
 - Gunakan return untuk mengembalikan nilai
 - Anda dapat menggunakan looping untuk mengembangkan fungsi
```

In [ ]:
#membuat fungsi tabel_perkalian
...

###2B.
Memanggil fungsi **tabel_perkalian** dengan:

a.) Tampilkan tabel perkalian 7

In [ ]:
#memanggil fungsi
...

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70]

b.) Tampilkan tabel perkalian 121

In [ ]:
#memanggil fungsi
...

[121, 242, 363, 484, 605, 726, 847, 968, 1089, 1210]

c.) Kemudian, anda ingin menampilkan tabel perkalian 10 tetapi dengan panjang tabel hingga 15

Tampilkan nilai tersebut tanpa merubah fungsi
```
Catatan:
  - Anda dapat menggunakan keyword arguments
```

In [ ]:
#memanggil fungsi
...

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150]

---
##Case 3 : Perhitungan BMI
Anda bekerja disuatu pekerjaan dibidang kesehatan dan diminta untuk membuat kalkulator BMI (Body Mass index) sederhana yang dapat menentukan apakah orang tersebut mengalami berat badan dibawah normal, berat badan normal, kelebihan berat badan, atau obesitas berdasarkan berat badan dan tinggi badan yang dimasukkan. Fungsi dikembangkan dengan ketentuan sebagai berikut :

###3A.
Buatlah sebuah fungsi **bmi** yang dapat menampung input dari user yang berisi berapa berat badan user (dalam kilogram) dan berapa tinggi badan user (dalam sentimeter)

```
 Ketika fungsi dijalankan, akan menghasilkan 
 Masukkan berat badan (dalam kg) :
 Masukkan tinggi badan (dalam cm) : 
 
```

In [ ]:
#buat fungsi
...

Untuk mengecek apakah fungsi yang anda buat dapat berjalan sesuai kriteria atau tidak, anda dapat memanggil fungsi bmi

In [ ]:
#memanggil fungsi
...

 Masukkan berat badan (dalam kg) : 50
 Masukkan tinggi badan (dalam cm) :  150

###3B.
Kembangkanlah fungsi yang sudah dibuat agar dapat menghitung BMI dari input yang sudah diberikan dan menentukan kategori BMI.

| BMI |Kategori|
|-|-|
|**<18,5**  | Berat Badan dibawah normal| 
|**18,5 - 22,9**  | Berat badan normal | 
|**23 - 24,9**  | Kelebihan berat badan | 
|**>= 25**  | Obesitas | 

```
Keterangan :
 - Input berat badan dan tinggi badan dari user yang akan digunakan untuk melakukan perhitungan BMI
 - Rumus perhitungan BMI = berat badan(kg) : ( tinggi badan(meter) x tinggi badan(meter) )
 - Bulatkan hasil BMI hingga 2 angka dibelakang koma.
 - Anda dapat memanfaatkan branching untuk mengembangkan fungsi.
 - Untuk meminimalisir terjadinya error, ketika user input selain angka / number. Maka program akan menampilkan "Input harus berupa angka 

Contoh output ketika fungsi dijalankan, akan menghasilkan 
Masukkan berat badan (dalam kg) : 60
Masukkan tinggi badan (dalam cm) :  162

Body Mass Index (BMI) : 22.86
Kategori : Berat normal
```

In [ ]:
#Mengembangkan fungsi agar dapat menghitung dan menetukan BMI
...

Untuk dapat mengecek apakah fungsi yang anda buat sesuai dengan kriteria diminta atau tidak, anda dapat melakukan pemanggilan fungsi **bmi**

input A :
Berat badan Ara = 60 kg
Tinggi Badan Ara = 162 cm

input B :
Berat badan Ahmad = 62 kg
Tinggi Badan Ahmad = 187,4 cm

In [ ]:
#memanggil fungsi dengan input A
...

Masukkan berat badan (dalam kg) : 60
Masukkan tinggi badan (dalam cm) :  162

Body Mass Index (BMI) : 22.86
Kategori : Berat normal

In [ ]:
#memanggil fungsi dengan input B
...

Masukkan berat badan (dalam kg) : 62
Masukkan tinggi badan (dalam cm) :  187.4

Body Mass Index (BMI) : 17.65
Kategori : Berat badan dibawah normal

---
##Case 4
Sebuah sekolah sedang melakukan survey mengenai pengeluaran transportasi (berangkat-pulang sekolah) perbulan yang dikeluarkan siswa SD A selama sebulan 

Untuk menunjang survey pengeluaran, anda diminta untuk membuat fungsi dengan menggunakan arbitrary keyword arguments yang dapat menampilkan pasangan nama siswa dan besaran biaya transport (rupiah) yang dikeluarkan perbulannya.

###4A. 
Membuat fungsi menggunakan arbitrary keyword arguments
```
Catatan:
 - Nilai yang dimasukkan adalah nama siswa dan biaya pengeluaran transportasi perbulannya

 Ketika fungsi dipanggil, output yang diharapkan 
  Pengeluaran Niriina Amalina untuk transportasi senilai : Rp.150000
```

In [ ]:
#membuat fungsi
...

###4B.
Beberapa hari kemudian, telah didapat sampel sementara dari survey yang dijabarkan dalam tabel berikut:

| Nama Siswa |Pengeluaran Transportasi Perbulan|
|-|-|
|Randy | Rp. 240.000 | 
|Alfin| Rp. 200.000 | 
|Shafira | Rp. 175.000 | 
|Andi  | Rp. 320.000| 
|Nuning  | Rp. 400.000 | 

Cobalah panggil fungsi berdasarkan data diatas!

In [ ]:
#memanggil fungsi
...

Pengeluaran Randy untuk transportasi senilai : Rp.240000
Pengeluaran Alfin untuk transportasi senilai : Rp.200000
Pengeluaran Shafira untuk transportasi senilai : Rp.175000
Pengeluaran Andi untuk transportasi senilai : Rp.320000
Pengeluaran Nuning untuk transportasi senilai : Rp.400000

---
##Case 5 : Docstring Perhitungan Faktorial
Terdapat fungsi **print_faktor** yang dapat mengetahui faktorisasi dari suatu angka:

In [ ]:
def print_faktor(angka):
    print("faktor dari ",angka,"adalah:")
    for i in range(1, angka + 1):
        if angka % i == 0:
            print(i, end = ' ')

angka_input = 50

In [ ]:
print_faktor(angka_input)

faktor dari  50 adalah:
1 2 5 10 25 50

Akan tetapi, fungsi tersebut masih sulit untuk dipahami. Maka dari itu, buatlah docstring dari fungsi diatas agar mempermudah user dalam memahami program!

In [ ]:
#membuat docstring
#copy paste fungsi diatas dan tambahkan docstring
...

##Case 6 : Perhitungan Pendapatan Perkapita
Anda ingin mengetahui tingkat kemakmuran negara dan masyarakat melalui perhitungan Pendapatan PerKapita (PPK). 

Maka anda berencana untuk membuat fungsi **ppk** yang dapat menghitung hasil pendapatan rata-rata masyarakat pada suatu negara

```
Catatan:
 Rumus pendapatan perkapita = pendapatan nasional : jumlah penduduk
```

###6A.
Buatlah fungsi tersebut!

```
Catatan :     
 - Didalam fungsi, argumen yang akan diinputkan adalah nama negara, pendapatan nasional suatu negara, dan total jumlah penduduk.

Contoh output ketika fungsi dijalankan, akan menghasilkan 
Pendapatan negara x adalah y milyar rupiah perpenduduk.
 ```

In [ ]:
#membuat fungsi ppk
...

Panggil fungsi tersebut dengan menggunakan data dibawah ini

| input ke -1 | Nama Negara |Pendapatan Nasional (Miliar Rupiah) | Jumlah Penduduk (Juta Jiwa)
| - |-|-| -|
|1. |Indonesia | 210 | 200 |  
|2. |Malaysia | 75 | 25 |
|3. |Vietnam | 80 | 67 |

In [ ]:
# memanggil fungsi dengan input ke-1
...

'Pendapatan negara Indonesia adalah 1.05 milyar rupiah perpenduduk.'

In [ ]:
# memanggil fungsi dengan input ke-2
...

'Pendapatan negara Malaysia adalah 3.0 milyar rupiah perpenduduk.'

In [ ]:
# memanggil fungsi dengan input ke-3
...

'Pendapatan negara Vietnam adalah 1.1940298507462686 milyar rupiah perpenduduk.'

###6B.
Kemudian, untuk memudahkan dalam memahami isi dari fungsi, anda berencana untuk membuat docstring fungsi ppk

In [ ]:
#fungsi ppk
#membuat docstring dari fungsi ppk
...

###6C.
Anda berencana untuk membuat fungsi baru ppk dengan menggunakan fungsi lambda agar fungsi lebih ringkas dan sederhana.
```
Contoh output ketika fungsi dijalankan, akan menghasilkan 
Pendapatan negara x adalah y milyar rupiah perpenduduk.
 ```

In [ ]:
#membuat fungsi ppk dengan lambda
...

###6D.
Panggil fungsi lambda dari data Indonesia!

In [ ]:
# memanggil fungsi 
...

'Pendapatan negara Indonesia adalah 1.05 milyar rupiah perpenduduk.'

# **Function II**

---
##Case 1 : Kebutuhan Kalori Harian
Sebuah lembaga kesehatan berencana untuk melakukan penelitian mengenai pengaruh kebutuhan kalori / Basal Metabolic Rate (BMR) pada pekerja kantor yang aktivitas sehari-harinya duduk seharian penuh didepan komputer.

Untuk pengembangan proyek penelitian, anda diminta untuk membuat modul python berisi fungsi-fungsi menghitung kebutuhan kalori harian pria dan wanita.

###1A.
Untuk langkah awal, buatlah modul **bmr** yang berisi fungsi perhitungan kebutuhan kalori untuk pria dan wanita.

Kemudian, buatlah fungsi baru **pria** yang berisi perhitungan kebutuhan kalori berdasarkan rumus Harris Beneddict.
```
Catatan :
 - Argumen yang akan diinputkan adalah berat badan (kg), tinggi badan (cm), dan usia(tahun)
 - Rumus menghitung BMR pria = ( 88,362 + (13,397 x berat badan) + (4,799 x tinggi badan)  (5,677 x usia) ) x 1,2
 - Bulatkan hasil BMR dua angka dibelakang koma

 Output ketika program dijalankan, akan menghasilkan 
Kebutuhan kalori yang dibutuhkan sebesar :


```

In [ ]:
#modul bmr
#fungsi pria
...

###1B.
Selanjutnya, buatlah fungsi baru **wanita** yang berisi perhitungan kebutuhan kalori berdasarkan rumus Harris Beneddict.
```
Catatan :
 - Argumen yang akan diinputkan adalah berat badan (kg), tinggi badan (cm), dan usia(tahun)
 - Rumus menghitung BMR wanita = ( 447,593 + (9,247 x berat badan) + (3,098 x tinggi badan)  (4,330 x usia) ) x 1,2
 - Bulatkan hasil BMR dua angka dibelakang koma

 Output ketika program dijalankan, akan menghasilkan 
Kebutuhan kalori yang dibutuhkan sebesar :


```

In [ ]:
#modul bmr
# fungsi pria
...

# fungsi wanita
...

###1C.
Setelah modul disimpan, anda ingin mengecek apakah modul yang anda bangun dapat berjalan atau tidak.

Untuk itu anda berencana mencoba membuat file utama untuk mengecek apakah modul dapat berjalan dengan baik. Impor modul **bmr** yang telah dibuat sebelumnya.

In [ ]:
#impor modul
...

###1D.
Coba panggil fungsi **pria** dengan nilai input:
  - Berat badan Wahyu = 70 kg
  - Tinggi Badan Wahyu = 181 kg
  - Usia Wahyu = 25 tahun

In [ ]:
#akses fungsi pria
...

Kebutuhan kalori yang dibutuhkan sebesar :

2103.42

###1E.
Coba panggil fungsi **wanita** dengan nilai input:
  - Berat badan Rita = 62 kg
  - Tinggi Badan Rita = 158 kg
  - Usia Rita  = 27 tahun

In [ ]:
#akses fungsi wanita
...

Kebutuhan kalori yang dibutuhkan sebesar :

1672.18

---
##Case 2 : Laporan Penjualan
Terdapat laporan penjualan perusahaan Z di Bulan April yang disajikan dalam bentuk tabel dibawah.

|Laporan Penjualan Bulan April | Keterangan |
|-|-|
|Penjualan | Rp. 100.000.000|
|Potongan Penjualan |Rp. 15.000.000|
|Retur Pembelian | Rp. 2.000.000|
|Persediaan Barang |Rp. 75.000.000|
|Persediaan Akhir |Rp. 15.000.000|

###2A.
Buatlah sebuat file python baru dengan nama **main.py** dan tambahkan dictionary berisi tabel Laporan Penjualan Bulan April.

In [ ]:
#file main.py
#dictionary
...

In [ ]:
#coba cek isi dictionary, apakah sudah sesuai dengan data atau belum
...

dict_items([('penjualan', 100000000), ('potongan_penjualan', 15000000), ('retur', 2000000), ('persediaan_barang', 75000000), ('persediaan_akhir', 1500000)])

###2B.
Selanjutnya, anda diminta untuk membuat modul baru dengan nama **laporan penjualan** yang berisi perhitungan harga pokok penjualan(HPP), penjualan bersih, dan laba kotor dari tabel diatas,

Buatlah **fungsi hpp** dari modul laporan penjualan
```
Catatan :
 - Rumus menghitung harga pokok penjualan = persediaan barang - persediaan akhir 
 - Value diambil langsung dari dictionary yang dibuat sebelumnya di main file.
```

In [ ]:
#modul laporan_penjualan
#fungsi hpp
...

###2C.
Kemudian buatlah **fungsi penjualan bersih** dari modul laporan penjualan
```
Catatan :
 - Rumus menghitung penjualan bersih = penjualan - (potongan penjualan + retur pembelian) 
 - Value diambil langsung dari dictionary yang dibuat sebelumnya di main file.
```

In [ ]:
# modul laporan_penjualan
# fungsi hpp
...

# fungsi penjualan_bersih
...

###2D.
Kemudian buatlah **fungsi laba kotor** dari modul laporan penjualan
```
Catatan :
 - Rumus menghitung laba kotor = penjualan bersih - harga pokok penjualan
 - Value diambil langsung dari dictionary yang dibuat sebelumnya di main file.
```

In [ ]:
# modul laporan_penjualan
# fungsi hpp
...

# fungsi penjualan_bersih
...

# fungsi laba kotor
...

###2E.
Simpanlah modul python tersebut. Kemudian, untuk mencoba apakah modul dapat berjalan dengan baik di **main.py**. Import dan jalankan fungsi-fungsi yang ada didalamnya.

Import modul

In [ ]:
# main.py
# import modul
...

# dictionary yang telah dibuat sebelumnya
...

###2F.
Panggil fungsi **hpp** dengan nilai input dari dictionary yang telah dibuat sebelumnya.

In [ ]:
# main.py
# import modul
...

# dictionary yang telah dibuat sebelumnya
...
#memanggil fungsi hpp
...

73500000

###2G.
Setelah nilai harga pokok penjualan telah didapat. Simpan nilai hpp kedalam dictionary agar nantinya dapat digunakan kembali oleh program.

In [ ]:
# main.py
# import modul
...

# dictionary yang telah dibuat sebelumnya
...

#memanggil fungsi hpp
...

#simpan nilai hpp kedalam dictionary
...

###2H.
Panggil fungsi **penjualan_bersih** dengan nilai input dari dictionary yang telah dibuat sebelumnya.

In [ ]:
#memanggil fungsi penjualan bersih
...

83000000